.one
{
    font-family: 'Raleway', sans-serif;
}

.second
{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

#identity
{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    font-family: 'Raleway', sans-serif;
    background-image: url('./images/mountains.jpg');
    background-size:cover;
    color:azure;
}

.imageAboutPage {
    width: 100%;
    border-radius: 50%;
}


.about,.education1
{
    font-family: 'Raleway', sans-serif;
}
   
.school
{
    border-radius: 15%;
}

.interest
{
    font-family: 'Raleway', sans-serif;

}

.resume
{
    border-radius: 10%;
}

.twitter,.linkedin,.gmail
{
    height: 100px;
    width:100px;
    margin:25px;
   
}

.social-media
{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;

}